body {
    background-color: #1B1F27;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.area-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86vh;
    justify-content: center;
    align-items: center;
}

.login {
    width: 360px;
    height: 320px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181920;
    border-radius: 10px;
    text-align: center;
}

.login form {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.login input {
    height: 45px;
    margin-top: 10px;
    padding-left: 40px;
    font-size: 18px;
    background-color: #252A34;
    color: #CBD0F7;
    border: none;
    outline: none;
    border-radius: 8px;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position: 10px;
}

.login img {
    width: 120px;
    height: 120px;
    margin-top: -75px;
    margin-bottom: 30px;
}

input.name {
    background-image: url(../images/icone-usuario.png);
}

input.password {
    background-image: url(../images/icone-cadeado.png);
}

input.submit {
    color: white;
    background-color: #f79300;
    padding: 5px 20px;
    height: 45px;
    width: 100%;
}

input::placeholder {
    color: #CBD0F7;
    font-size: 14px;
}

form [type="submit"] {
    display: block;
    background-color: #5568FE;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

p {
    color: #CBD0F7;
}

a {
    color: #5568FE;
    text-decoration: none;
    margin-left: 5px;
}